:root {
    --grey:#535c68;
    --bluegrey :#95afc0;
    --blue:#30336b;
    --darkblue:#130f40;
    --greenblue:#22a6b3;
    --green:#badc58;
    --peanutgreen:#6ab04c;
    --pink:#eb4d4b;
}

* {
    box-sizing: border-box;
    margin: 0;
    
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:linear-gradient(to right,var(--blue),var(--darkblue));
    color: var(--grey);
}
h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 1rem auto;
}
.inputbox {
    padding: 1rem 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
#formInput {
    display: flex;
}
input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#newplanInput {
    flex: 1 1 0%;
    background-color:var(--bluegrey);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 0.75rem;
}

#newplanInput::placeholder {
    color: var(--grey);
    
}

#newplanSubmit {
    color: var(--greenblue);
    font-size: 2rem;
    font-weight: 600;
    background-image: linear-gradient(to right,var(--green),var(--peanutgreen));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    
}
#newplanSubmit:hover {
    opacity: 0.8;
}
#newplanSubmit:active {
    opacity: 0.6;
}
/*** ***/
.contentbox {
    padding: 1rem 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    
}

#list_header {
    display: flex;
    justify-content: space-between;
    background-color:var(--bluegrey);
    padding: 0.5rem;
    border-radius: 1rem;
}

.newplan {
    display: flex;
    justify-content: space-between;
    background-color:var(--bluegrey);
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1rem 0;
}
.planInput {
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 600;
}

.btns {
    display: flex;
    margin:0 -0.25rem ;
}
.btns button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.6s;
}
.btns button:hover {
    opacity: 0.8;
}
.btns button:active {
    opacity: 0.6;
}

.btns .editbtn {
    background-image: linear-gradient(to right,var(--blue),var(--darkblue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btns .deletebtn {
    color: var(--pink);
}

.checked {
    text-decoration: overline;
    
}